:root {
    --primary: #000;
    --secondary: #f3ae93;
    --tertiary: #ebdbbb;
    --link-color: #f5f5f5;
    --bg: #be85643b;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

input:focus {
    outline: 0;
}

body {
    height: 800px;
    background-image: url('https://img.freepik.com/vetores-gratis/por-do-sol-no-oceano-com-vista-para-a-natureza-das-ondas-espirrando_107791-10239.jpg?w=826&t=st=1677287332~exp=1677287932~hmac=54a83cdcb531843a124b32ab70605240dad365287cbd9d74c489384f2087454c');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-y: hidden;
    font-family: Typo Formal;
}
nav {
    background-color: var(--bg);
    backdrop-filter: blur(4px);
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding-top: 30px;
    width: 100px;
}
ul.social {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
li.social {
    padding-top: 10px;
    padding-right: 8px;
}
.icon {
    cursor: pointer;
    border-radius: 50%;
    transition: .3s ease-in-out;
}
.icon:hover {
    background: var(--primary);
    transform: translateX(8px);
}
@media (max-width: 600px) {
    nav {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
        width: 100%;
        padding-top: 20px;
        background: none;
    }
    ul.social {
        flex-direction: row;
        justify-content: center;
    }
    .icon:hover {
        transform: translateY(-5px);
    }
}
div.card {
    min-width: 300px;
    max-width: 380px;
    margin: 100px auto;
    padding: 35px;
    background: var(--bg);
    color: var(--primary);
    position: relative;
    border-radius: 5px;
    backdrop-filter: blur(7px);
}
form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 10px;
}
.card h2, button {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}
.container, .field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: relative;
}
.dados {
    display: flex;
    flex-direction: row;
    gap: 55px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}
label {
    display: flex;
    align-items: center;
    gap: 5px;
}
.dados input, .dados p {
    width: auto;
    font-size: medium;
}
.checkbox, label {
    position: relative;
    cursor: pointer;
}
.checkbox::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background: var(--link-color);
    position: absolute;
}
.checkbox:checked::after {
    content: '';
    border-radius: 3px;
    display: block;
    width: 100%;
    height: 100%;
    background: var(--primary);
    position: absolute;
}
.field::before {
    content: '';
    display: block;
    position: absolute;
    background: rgba(245, 222, 179, 0.363);
    height: 0;
    width: 100%;
    transition: height .4s ease;
    border-radius: 5px;
}
.field:focus-within::before {
    height: 100%;
}
.logo {
    width: 25px;
    height: auto;
    position: absolute;
    bottom: 12px;
    right: 10px;
    cursor: pointer;
    transition: transform .3s ease;
}
.logo:hover {
    transform: translateY(-5px);
}
input {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    background: none;
    width: 100%;
    padding: 5px;
    padding-top: 18px;
    padding-bottom: 10px;
    font-size: larger;
    position: relative;
}
input::placeholder {
    color: var(--primary);
    transition: .3s ease-in-out;
}
input:hover::placeholder {
    transform: translateY(-20px);
}
button {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    color: #292525;
    border: 2px solid var(--primary);
    background: none;
    transition: .4s ease-in-out;
    cursor: pointer;
}
button:hover {
    border-color: var(--tertiary);
    color: var(--tertiary);
}
p {
    font-size: larger;
}
a.link {
    text-decoration: none;
    color: var(--link-color);
    position: relative;
}
a.link::after {
    content: '';
    width: 0;
    height: 1px;
    background: var(--link-color);
    position: absolute;
    left: 0;
    bottom: 0;
    transition: width .3s ease;
}
a.link:hover::after {
    width: 100%;
}
